html {
	min-width: 1220px;
}
footer {
	clear: both;
	text-align: center;
	background-color: #808080;
}
#contactnav {
	font-family: 'Oswald', sans-serif;
	color: darkgrey;
}
#concertnav{
	font-family: 'Montserrat', sans-serif;
	color: darkgrey;
}
#concerttekst{
	font-family: 'Droid Serif', serif;
	color: darkgrey;
}
#restaurantnav{
	font-family: 'Archivo Black', sans-serif;
	color: darkblue;
}
#Google { 
	font-family: 'Raleway', sans-serif;
	color: black;
}
#receptnav{
	font-family: 'Russo One', sans-serif;
	color: black;
}
#recepttekst{
	font-family: 'Varela', sans-serif;
	color: black;
}
a:link {
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
footer a:link, nav a:link {
	font-family: 'Oswald', sans-serif;
	color: white;
}
footer {
	margin-left: -8px;
	margin-right: -8px;
}
nav {
	margin-top: -22px;
	margin-right: -8px;
}
#Googlemaps {
	border: 1px solid black;
	margin: 5px;
	width: 1000px;
	height: 400px;
}
header {
	margin-top: -21px;
	margin-left: -8px;
	margin-right: -8px;
}
#plaatjesmettekst {
	margin: 15px;
	margin-left: 30%;
	font-family: 'Josefin Sans', sans-serif;
}
#plaatjes {
	margin: 5px;
	border: 1px solid black;
	width: 300px;
	height: 175px;
	text-align: center;
}
#plaatjes img{
	width: 300px;
	height: 150px;
}
#plaatjesrechts {
	margin-top: -364px;
	margin-left: 320px;
}
#concert {
	border: 1px solid black;
	margin-left: -5px;
	width: 420px;
	height: 230px;
}

#blauweNav{background-color:blue;}
#groeneNav{background-color:green;}
#rodeNav{background-color:red;}
#poepNav{background-color:brown;}

#youtube {
	width: 500px; 
	height: 500px;
	margin-left: 50px;
}
#afbeelding {
	width: 500px; 
	height: 500px;
}
#sportnav{
	font-family: 'Bree Serif', serif;
	color: darkblue;
}
#sporttekst{
	font-family: 'Josefin Sans', sans-serif;
	color: darkgrey;
}
#kleur{
	background-color: lightyellow;
}
