footer {
 clear: both;
 text-align: center;
 background-color: #808080;
}
h1 {
 font-family: 'Oswald', sans-serif;
 background-color: lightgrey;
}
p { 
 font-family: 'Raleway', sans-serif;
}
a:link {
 text-decoration: none;
}
footer a:link, nav a:link {
 color: white;
}
nav {
 margin-top: -25px;
}
#googleMap {
	border: 1px solid black;
	margin: 5px;
}